<br><br><br><br><br>
<footer id="myFooter">
        <label for=""><i class="fa fa-globe"></i> الموقع الجغرافي</label>
        <iframe 
        width="100%" height="280"
        frameborder="0" style="border:0;padding-left: 15px;padding-right: 15px;padding-bottom: 20px"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC1szwoqWwBUR5WuHWCXxlBk&key=AIzaSyAb_yWU52P9VADXPP8pF_BYn1ytCT718EE"
        allowfullscreen=""></iframe>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img src="../../assets/images/Logo5.png" width="250px">
            </div>
            
            <div class="col-sm-3">
                <h5 style="color: #eb7ca1">عن المدرسة</h5>
                <ul>
                    <li><a href="#">الرئيسية</a></li>
                    <li><a href="#">الاخبار</a></li>
                    <li><a href="#">رؤيتنا</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 style="color: #eb7ca1">روابط تهمك</h5>
                <ul>
                    <li><a href="https://www.moe.gov.sa">وزارةالتعليم</a></li>
                    <li><a href="https://noor.moe.gov.sa">نظام نور</a></li>
                    <li><a href="http://www.ientv.edu.sa/">قناة عين</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="snap"><i class="fab fa-snapchat"></i></a>
                </div>
                <button type="button" class="btn btn-default">تواصل معنا</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>جميع الحقوق محفوظة © 2019</p>
    </div>
</footer>